<%-include('partials/encabezado.html')%>
<!DOCTYPE html>
<html lang="en">
<body>
  <br>
<div class="contanier" style="padding-left: 2em;">
  <h1 class="text-primary">INICIO</h1>
  <h3>¡Hola, bienvenida/o!</h3>
  <p>En nuestro sitio encontrarás los mejores productos para el cuidado de tu piel. !Tenemos lo que tu piel necesita!
    Te mostramos<a href="#"> nuestro best seller :</a>
  </p>
  <div class="contenedor">
    <div class="caja">
        <img src="../public/img/Cerave-001.jpg" alt="Descripción de mi imagen">
        <br>
        <p>Cerave Limpiador espumoso para piel mixta y grasa</p>
        <button type="button" class="btn btn-outline-secondary">¡Cómpralo aqui!</button>
    </div>
  </div>
  <br>
  <br>
</div>
<%-include('partials/piePagina.html')%>
</body>
</html>