<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>ProductosBd</title>
</head>
<body>
	<div class="container">
		<table class="table table-striped table-hover" id="tabla-producto">
			<thead>
				<tr class="fila-producto">
                    <th>Id</th>
					<th>Descripción</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Estado</th>
					<th>Imagen</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<br>
		<form class="form-inline" id="formulario-producto">
            <div class="form-group row">
                <div class="col-sm-2">
                    <input type="text" id="id" name="id" placeholder="id" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="descripcion" name="descripcion" placeholder="descripcion" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="nombre" name="nombre" placeholder="nombre" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="precio" name="precio" placeholder="precio" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <select id="estado" name="estado" class="form-control">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="imagen" name="imagen" placeholder="imagen" class="form-control rounded-0">
                </div>
            </div>
        </form>             
		<br>
        <button type="submit" class="btn btn-primary " id="buscar">Buscar</button>
		<button type="button" class="btn btn-success" id="agregar" >Agregar</button>
		<button type="button" class="btn btn-danger" id="borrar">Borrar</button>
		<button type="button" class="btn btn-warning" id="modificar" >Modificar</button>
	</div>
</body>
<script>
    $(document).ready(function() {

// Función para cargar la tabla de alumnos
function cargarTablaProductos() {
  $.get('/mostrarTodos', function(productos) {
    var tbody = $('#tabla-producto tbody');
    tbody.empty();
    for (var i = 0; i < productos.length; i++) {
      var producto = productos[i];
      var tr = $('<tr>').addClass('fila-producto').appendTo(tbody);
        $('<td>').text(producto.id).appendTo(tr);
        $('<td>').text(producto.descripcion).appendTo(tr);
        $('<td>').text(producto.nombre).appendTo(tr);
        $('<td>').text(producto.precio).appendTo(tr);
        $('<td>').text(producto.estado).appendTo(tr);
        $('<td>').text(producto.imagen).appendTo(tr);
    }
  });
}

// Carga la tabla de alumnos al cargar la página
cargarTablaProductos();

// Función para buscar un alumno
$('#buscar').click(function() {
  var id = $('#id').val();
  $.get(`/buscarId/${id}`, function(producto) {
    $('#descripcion').val(producto.descripcion);
    $('#nombre').val(producto.nombre);
    $('#precio').val(producto.precio);
    $('#estado').val(producto.estado);
    $('#imagen').val(producto.imagen);
  }).fail(function(error) {
    alert('Error al buscar');
  });
});

// Función para agregar un alumno
$('#agregar').click(function() {
  var producto = {
    id: $('#id').val(),
    descripcion: $('#descripcion').val(),
    nombre: $('#nombre').val(),
    precio: $('#precio').val(),
    estado: $('#estado').val(),
    imagen: $('#imagen').val(),
  };
  $.post('/insertar', producto, function() {
    cargarTablaProductos();
    alert('producto agregado correctamente');
  }).fail(function(error) {
    alert('Error al insertar producto');
  });
});

// Función para borrar un alumno
$('#borrar').click(function() {
  var id = $('#id').val();
  $.ajax({
    url: `/borrar/${id}`,
    type: 'DELETE',
    success: function() {
      cargarTablaProductos();
      alert('producto borrado correctamente');
    },
    error: function(error) {
      alert(error.responseJSON.message);
    }
  });
});

// Función para modificar un alumno
$('#modificar').click(function() {
  var id = $('#id').val();
  var producto= {
    descripcion: $('#descripcion').val(),
    nombre: $('#nombre').val(),
    precio: $('#precio').val(),
    estado: $('#estado').val(),
    imagen: $('#imagen').val(),
  };
  $.ajax({
    url: `/actualizar/${id}`,
    type: 'PUT',
    data: producto,
    success: function() {
      cargarTablaProductos();
      alert('producto actualizado correctamente');
    },
    error: function(error) {
      alert('Error al actualizar');
    }
  });
});
});
</script>
